<div class="footer">
    <div class="footer-info">
        <h3>SOPORTE TÉCNICOs</h3>
        
        <div class="img-icon">
            <a href="#"><img src="#" alt="Facebook" class="social-links"></a>
            <a href="#"><img src="#" alt="Instagram" class="social-links"></a>
            <a href="#"><img src="#" alt="YouTube" class="social-links"></a>
        </div>

        <div class="footer-info-additional">
            &copy;Copyright INICTEL-UNI 2024 DICTT
        </div>

    </div>

</div>